#iron-router-progress {
    background-color : #000;
    box-shadow       : 0 0 5px #000;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
.spinner .loading .done{
  background-color : #000 !important;
}

/* CSS declarations go here */
html, body { height: 100%; }

.container-table {
   display: table;
}

.savenBlue{
  background-color: #2996c0 !important;
}

.loadingInput {
    background-color: #ffffff;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 15px 15px;
    background-position:left center;
    background-repeat: no-repeat;
}

.tabs .tab a {
    color: #2996c0 !important;
}

.tabs .tab a {
    color: #2996c0 !important;
}

/* label focus color */
 .input-field input:focus + label {
   color: #2996c0 !important;
 }

 [type="checkbox"]:checked+label:before {
    border-right: 2px solid #2996c0 !important;
    border-bottom: 2px solid #2996c0 !important;
}
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid red !important;
   box-shadow: 0 1px 0 0 red !important
 }

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #2996c0 !important;
    box-shadow: 0 1px 0 0 #2996c0 !important;
}

input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2996c0 !important;
  box-shadow: 0 1px 0 0 #2996c0 !important;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #2996c0 !important;
  box-shadow: 0 1px 0 0 #2996c0 !important;
}

.chips.focus{
  border-bottom: 1px solid #2996c0 !important;
  box-shadow: 0 1px 0 0 #2996c0 !important;
}
.vertical-center-row {
   display: table-cell;
   vertical-align: middle;
}

.btnOrange{
  background-color: #F48560 !important;
  color: #fff !important;

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#map-container{
height : 100px; width : 100%; top : 0; left : 0; position : absolute; z-index : 200;

}

.acceptFooter{
  background-color:#ccc;
  text-align:center;
  padding:10px;
}




.profilePicture {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#progress-bar{height:100%;padding:10px; overflow:hidden; position:relative;}

.progress{
    z-index:1;
    width:0px;
    height:100%;
    position:absolute;
    background:#1aa79b;
    left:0px;
    top:0px;
}


.has-slider{
  overflow: hidden;
  width: 100%;
}

.redToast{
  background-color: red;
}

.reactive-table tbody tr{

  cursor: pointer;
}
.reactive-table tbody tr:hover{

background-color: #ccc;
}

.legendPriority{
  background-color: #2996c0;
  color:#fff;
  font-weight:lighter;
  font-size:10px;
  padding:5px;
  margin-left:10px;
}

.legendNormal{
  background-color: #f05b4f;
  color:#fff;
  font-weight:lighter;
  font-size:10px;
  padding:5px;
  margin-left:10px;
}

/*
 * This is a nice full CSS3 loader made with LESS
*/
/* u can custom almost everything u need with these variables just bellow */
/* but from here u'll have to understand what u'r dealing with */
/* mixins */
/* animations */
.spin {
  -webkit-animation: spin 750ms infinite linear;
  -moz-animation: spin 750ms infinite linear;
  animation: spin 750ms infinite linear;
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  to {
    -moz-transform: rotate(360deg);
  }
}
.rspin {
  -webkit-animation: rspin 2250ms infinite linear;
  -moz-animation: rspin 2250ms infinite linear;
  animation: rspin 2250ms infinite linear;
}
@-webkit-keyframes rspin {
  to {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes rspin {
  to {
    -moz-transform: rotate(-360deg);
  }
}
/* let's style that thing */
.loader {
  background-color: #eee;
  border-radius: 100%;
  position: relative;
  height: 75px;
  width: 75px;
  overflow: hidden;
}
.loader .c {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -34% 0 0 -34%;
  width: 68%;
  height: 68%;
  background-color: #fff;
  border-radius: 100%;
  z-index: 3;
}
.loader .d {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.loader .d .e {
  position: absolute;
  top: 1%;
  left: 50%;
  margin: 0 0 0 -7.5px;
  height: 14px;
  width: 15px;
  -webkit-transform: rotate(10deg) skew(20deg);
  -moz-transform: rotate(10deg) skew(20deg);
  border-radius: 3px;
  background: #2996c0;
}
.loader .r {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: -1px;
  bottom: -1px;
  margin-left: -3.75px;
  background-color: #fff;
  width: 7.5px;
}
.loader .r1 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
.loader .r2 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.loader .r3 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.loader .r4 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}

.fullWidthButton{
  height:60px;
  width:100% !important;
  margin:15px 0 0 0;
  color:#fff;
}

.filterLeft{
  float:left !important;
  width: 35% !important;
}

       .autocomplete {
            display: -ms-flexbox;
            display: flex;
        }
        .autocomplete .ac-users {
            padding-top: 10px;
        }
        .autocomplete .ac-users .chip {
            -ms-flex: auto;
            flex: auto;
            margin-bottom: 10px;
            margin-right: 10px;
        }
        .autocomplete .ac-users .chip:last-child {
            margin-right: 5px;
        }
        .autocomplete .ac-dropdown .ac-hover {
            background: #eee;
        }
        .autocomplete .ac-input {
            -ms-flex: 1;
            flex: 1;
            min-width: 150px;
            padding-top: 0.6rem;
        }
        .autocomplete .ac-input input {
            height: 2.4rem;
        }


        .upper{
              text-transform: uppercase;

        }

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
