<template name="broadcasttypes">
  <div class="comparison-table-options">
                                      <span class="page-title">Broadcasts by Type</span>
                                          <div class="actions" style="float:right;">
                                         
                                          </div>
                                  </div>
    <div class="row">
  <div class="col s12">
                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                    <div class="card-content">
        {{#unless barchartDataReady}}

        {{>loader}}
        {{/unless}}
   <div class="broadcasttypes"></div>

                    </div>
                </div>
            </div>

        </div>
      </div>
</template>
