<template name="broadcastintelligence">
  <div class="comparison-table-options">
                                      <span class="page-title">Trends</span>
                                          <div class="actions" style="float:right;">
                                          </div>
                                  </div>

    <div class="row">
<!--                   <div class="row no-m-t no-m-b">
                <div class="col s12 m12 l12">
                    <div class="card visitors-card">

                        <div class="card-content">
                          <span class="card-title">Daily</span>
<canvas id="line-chart" width="800" height="450"></canvas>

        {{#unless barchartDataReady}}

        {{>loader}}
        {{/unless}}

                        </div>
                    </div>
                </div>
          </div> -->
                        <div class="row no-m-t no-m-b">
                <div class="col s12 m12 l12">
                    <div class="card visitors-card">

                        <div class="card-content">
                          <span class="card-title"> Weekly</span>
        <div class="ct-chart weeklyBroadcasts"></div>
        {{#unless barchartDataReady}}

        {{>loader}}
        {{/unless}}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-m-t no-m-b">
                <div class="col s12 m12 l12">
                    <div class="card visitors-card">

                        <div class="card-content">
                          <span class="card-title">Monthly</span>
        <div class="ct-chart broadcastMonthly"></div>
        {{#unless barchartDataReady}}

        {{>loader}}
        {{/unless}}

                        </div>
                    </div>
                </div>
          </div>

          </div>
</template>
