<template name="broadcastModal">
    <div id="broadcastModal" class="modal">
        <div class="modal-content">
            <table class="highlight">
                <tbody>
                    <tr>
                        <td style="padding-right:10px"><strong>Type</strong></td>
                        <td id="reportType"></td>
                    </tr>
                    <tr>
                        <td style="padding-right:10px"><strong>Suburb</strong></td>
                        <td class="upper" id="suburb"></td>
                    </tr>
                                        <tr>
                        <td style="padding-right:10px"><strong>Location</strong></td>
                        <td class="upper" id="location"></td>
                    </tr>
                    <tr>
                        <td><strong>Message</strong></td>
                        <td id="content"></td>
                    </tr>
                </tbody>
            </table>
            <!-- <div id="streetview" style="height:300px"></div> -->
        </div>
        <div class="modal-footer">
            <a href="#" class="modal-action waves-effect btn-flat savenBlue" target="_blank" id="viewBroadcastLink">View Broadcast</a>
            <a href="#!" class="modal-action modal-close waves-effect btn-flat">Close</a>
        </div>
    </div>
</template>