<template name="layout">
  <html lang="en">
      <head>

          <title>Saven Enterprise</title>
          <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
          <meta charset="UTF-8">
          <meta name="author" content="Saven Technologies" />
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      </head>
      <body>

          <div class="mn-content fixed-sidebar">
              <header class="mn-header navbar-fixed">
<nav class="blueNav">
                        <div class="nav-wrapper row">
                          <section class="material-design-hamburger navigation-toggle">
                              <a href="#" data-activates="slide-out" class="button-collapse show-on-large material-design-hamburger__icon">
                                  <span class="material-design-hamburger__layer"></span>
                              </a>
                          </section>
                          <div class="header-title">

                              <a href="/"><span class="chapter-title"> Saven Enterprise</span></a>
                          </div>
<!-- <form class="right search col s6 hide-on-small-and-down">
                            <div class="input-field">
                                <input id="search" type="search" placeholder="What do you want to do?" style="background-color:#56a9ca" class="search" data-activates="singleDropdown" data-beloworigin="true" autocomplete="off">
                                <label for="search" class="active"><i class="material-icons search-icon">search</i></label>
                                                        <ul id="singleDropdown" class="dropdown-content ac-dropdown"></ul>

                            </div>
                            <a href="javascript: void(0)" class="close-search"><i class="material-icons">close</i></a>
                        </form> -->
                      </div>
                  </nav>
              </header>

  {{>sidebar}}

  <main class="mn-inner inner-active-sidebar">

              {{> yield}}
</main>

              <div class="page-footer">
                  <div class="footer-grid container">
                      <div class="footer-l white">&nbsp;</div>
                      <div class="footer-grid-l white">
                      </div>
                      <div class="footer-r white">&nbsp;</div>

                  </div>
              </div>
          </div>

          {{#if broadcast_add}}
          <div class="left-sidebar-hover"></div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a id="menu" class="btn btn-floating btn-large savenBlue" href="/add-broadcast"><i class="material-icons">add</i></a>
        </div>
        {{/if}}

      </body>
  </html>
</template>
