<template name="login" class="center-align">
<div class="container particle">


<style>
body{
  background-color:#333541 !important;
}
</style>

<!-- -->

    <main class="mn-inner container valign" style="padding-top:10%;text-align:center;">
        <div class="valign">
              <div class="row">
                  <div class="col s12 m6 l4 offset-m3">
                      <div class="card white darken-1" style="width:500px;opacity: 0.8">
                          <div class="card-content " style="width:500px;padding:50px">
                              
                              <img src='/img/blue-logo.png' style="width:100px">
                              <br /><br />
                               <div class="row">
                              {{> atForm}}
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </main>



<div class="preloader-wrapper small active" style="display:none;">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  </div>
</template>
