.pg-canvas{
  position: absolute
}

/*button{
  background-color:#2996c0 !important;
  width:80% !important;
  min-width: 80% !important;
}*/

.at-oauth button{
	width:10px !important;
}

#at-facebook{
	width:100px !important;
}