<template name="logs">
  <div class="comparison-table-options">
                                      <span class="page-title">Logs</span>
                      
                                  </div>
    <div class="row">
  <div class="col s12">
                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                    <div class="card-content">

                              {{> reactiveTable collection=savenlogs settings=settings}}

                    </div>
                </div>
            </div>

        </div>
      </div>
</template>
