<template name="addBroadcast">
  <div class="comparison-table-options">
                                      <span class="page-title">Add Broadcasts</span>

                                  </div>
    <div class="page content-padded" data-pagetype="2">
        <br />
        <form id="insertBroadcastform" name="insertBroadcastform">
            <div class="row">
  <div class="input-field col s12" style="width:95%">
    <select id="reportType">
      <option value="SUSPICIOUS ACTIVITY">SUSPICIOUS ACTIVITY</option>
      <option value="BURGLARY">BURGLARY</option>
      <option value="ARSON">ARSON</option>
      <option value="ASSAULT">ASSAULT</option>
      <option value="FRAUD">FRAUD</option>
      <option value="MISSING PERSONS">MISSING PERSONS</option>
      <option value="ROBBERY">ROBBERY</option>
      <option value="SEX OFFENCES">SEX OFFENCES</option>
      <option value="THEFT">THEFT</option>
      <option value="VEHICLE THEFT">VEHICLE THEFT</option>
      <option value="WANTED PERSONS">WANTED PERSONS</option>
      <option value="Other">OTHER</option>
    </select>
  </div>
            </div>
            
            <p style="padding-left:18px;"> 
                <br />
                <input value="yours" class="with-gap" name="groupSuburb" type="radio" id="yourSuburb"  />
                <label for="yourSuburb">{{suburb}}</label>
                <input id="suburb" name="suburb" type="hidden">
                <input value="other" class="with-gap" name="groupSuburb" type="radio" id="otherSuburbCheckBox" style="margin-left:20px;" checked/>
                <label for="otherSuburbCheckBox" class="otherSuburbCheckBox" title="Broadcast to any location. This includes streets, venues, or wherever.">Targeted</label>
            </p>
            <div id="otherSuburbMap">
                <div class="suburbSearch">
                    <div class="row">
                        <div class="at-input input-field col s12">
                            <input id="broadcastOtherLocation" name="broadcastOtherLocation" type="text" class="capitalize" placeholder="Enter a Street or Suburb">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="map-container-broadcast" id="map-container-broadcast">
                    </div>
                </div>
            </div>


              <div class="row">
                        <div class="at-input input-field col s12">
                            <textarea id="content" name="content" type="text" class="materialize-textarea textareaCreatevalidate validated required textareaCreate" placeholder='e.g. Tall male spotted in black pants attempting to break into my house near progress drive about 10 mins ago.' style="overflow-y: scroll;"></textarea>
                        </div>
                    </div>

            <div class="broadcastImages">
                {{#if isMobile}}
                <div id="broadcastPicture1" data-link="" data-deleteHash="" class="pictureIcon"><i id="1" class="fa fa-camera camera" aria-hidden="true" style="font-size:48px"></i></div>
                <div id="broadcastPicture2" data-link="" data-deleteHash="" class="pictureIcon"><i id="2" class="fa fa-camera camera" aria-hidden="true" style="font-size:48px"></i></div>
                <div id="broadcastPicture3" data-link="" data-deleteHash="" class="pictureIcon"><i id="3" class="fa fa-camera camera" aria-hidden="true" style="font-size:48px"></i></div>
                {{else}}
                <input data-link="" id="broadcastPicture1" name="fileUploadPicture" class="broadcastPicture1 file-upload-input" type="file" /> <span id="status_1"></span>
                <br />
                <input data-link="" id="broadcastPicture2" name="fileUploadPicture" class="broadcastPicture2 file-upload-input" type="file" /> <span id="status_2"></span>
                <br />
                <input data-link="" id="broadcastPicture3" name="fileUploadPicture" class="broadcastPicture3 file-upload-input" type="file" /> <span id="status_3"></span> {{/if}}
            </div>
            <!-- <button type="button" id="upload">UPLOAD</button>
 -->
            <br />
            <!-- <button id="start">start</button><button id="stop">stop</button><button id="play">play</button> -->
            <div id="footer">
                <button type="submit" class="btn blockGreySmall" style="width:100%"><i class="fa fa-check fa-4x bigTick" aria-hidden="true"></i></button>
            </div>
        </form>
    </div>
</template>
