<template name="broadcasts">
    <div class="row">
      <div class="comparison-table-options">
                                          <span class="page-title">Broadcasts</span>
                                              <div class="actions" style="float:right;">
                                             </div>
                                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                    <div class="card-content">
                          <div class="row">

      <div class="col s6">
                          <input type="date" class="datepicker form-control" id="fromFilter" placeholder="From Date"><br />
                          <input type="date" class="datepicker form-control" id="toFilter" placeholder="To Date">
           </div>
      <div class="col s6">
        <input type="text" class="form-control" id="filterKeywords" placeholder="Keywords">
<!--             <select id="reportType" name="reportTypes[]" multiple="multiple">
      <option value="SUSPICIOUS ACTIVITY">SUSPICIOUS ACTIVITY</option>
      <option value="BURGLARY">BURGLARY</option>
      <option value="ARSON">ARSON</option>
      <option value="ASSAULT">ASSAULT</option>
      <option value="FRAUD">FRAUD</option>
      <option value="MISSING PERSONS">MISSING PERSONS</option>
      <option value="ROBBERY">ROBBERY</option>
      <option value="SEX OFFENCES">SEX OFFENCES</option>
      <option value="THEFT">THEFT</option>
      <option value="VEHICLE THEFT">VEHICLE THEFT</option>
      <option value="WANTED PERSONS">WANTED PERSONS</option>
      <option value="Other">OTHER</option>
    </select> -->
</div>
    </div>

         

                        <div class="card-options">

                        </div>

                        {{> reactiveTable collection=broadcasts settings=settings}}

                    </div>
                </div>
            </div>

        </div>
      </div>
</template>

<template name="greaterThanFilter">
    <div class="input-group">
      <span class="input-group-addon">
        <span>Score Greater Than </span>
      </span>
      <input class="form-control greater-than-filter-input" type="text"/>
    </div>
</template>
