<template name="editbroadcast">
    <div class="comparison-table-options">
        <div class="actions" style="float:right;">
            {{#if isAdmin}}
                <button id="save" class="filter waves-effect waves-light btn green">Save</button> <button id="delete" class="filter waves-effect waves-light btn red"><i class="fa fa-close"></i>
</button> 
                {{/if}}
            </div>
        <span class="page-title">Edit Broadcast</span>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <div class="row">

                        <p class="headerOne">Type</p>
                        <p class="headerTwo"><select id="reportType" value="{{broadcast.reportType}}">
     <option value="{{broadcast.content}}" selected>-- SELECT A BC TYPE --</option>
      <option value="SUSPICIOUS ACTIVITY">SUSPICIOUS ACTIVITY</option>
      <option value="BURGLARY">BURGLARY</option>
      <option value="ARSON">ARSON</option>
      <option value="ASSAULT">ASSAULT</option>
      <option value="FRAUD">FRAUD</option>
      <option value="MISSING PERSONS">MISSING PERSONS</option>
      <option value="ROBBERY">ROBBERY</option>
      <option value="SEX OFFENCES">SEX OFFENCES</option>
      <option value="THEFT">THEFT</option>
      <option value="VEHICLE THEFT">VEHICLE THEFT</option>
      <option value="WANTED PERSONS">WANTED PERSONS</option>
      <option value="Other">OTHER</option>
    </select> </p>
                        <br />
                        <p class="headerOne">Message</p>
                        <textarea id="content" col=3 class="materialize-textarea">{{{broadcast.content}}}</textarea>
                        <br />
                        <p class="headerOne">Broadcaster</p>
                        <p class="headerTwo">{{broadcast.fullname}}</p>
                        <br />
                        <p class="headerOne">Date / Time</p>
                        <p class="headerTwo"><input id="createDateTime" value="{{formatDate broadcast.createDateTime}}" type="text"></p>
                        <br />
                        <p class="headerOne">Suburb</p>
                        <p class="headerTwo"><input id="suburb" value="{{broadcast.suburb}}" type="text" required></p>
                        <br />
                        <p class="headerOne">Location</p>
                        <p class="headerTwo"><input id="location" value="{{broadcast.geoData.formatted_address}}" type="text"></p>
                        <br />
                    </div>
                </div>
            </div>
        </div>

<!--         <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Images</span>
                    <div class="row">
                        {{#unless imageCount}} No Images {{/unless}} {{#if broadcast.images.image1}}
                        <div class="attachment z-depth-1"><img class="pictureIcon materialboxed" src="{{broadcast.images.image1}}">
                        </div>{{/if}} {{#if broadcast.images.image2}}
                        <div style="attachment z-depth-1"><img class="pictureIcon materialboxed" src="{{broadcast.images.image2}}"></div>{{/if}} {{#if broadcast.images.image3}}
                        <div style="attachment z-depth-1"><img class="pictureIcon materialboxed" src="{{broadcast.images.image3}}"></div>{{/if}}
                    </div>
                </div>
            </div>
        </div> -->
    </div>
<!--     <div class="row">
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Messages</span>
                    <div class="row">
                        {{#unless messages.count}} No messages {{/unless}} {{#each messages.data}}
                        <div class="bubble me"><strong class="savenGrey" style="font-weight: 900; !important">{{fullname}}</strong>
                            <br />{{message}}</div>
                        <br /> {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</template>