<template name="viewbroadcast">
    <div class="comparison-table-options">
        <div class="actions" style="float:right;">
            {{#if isAdmin}}
                <a href="/editbroadcast/{{broadcast._id}}" class="filter waves-effect waves-light btn red">Edit</a> 
                {{/if}}
            </div>
        <span class="page-title">Broadcast</span>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <p class="headerOne">Type</p>
                        <p class="headerTwo">{{broadcast.reportType}}</p>
                        <br />
                        <p class="headerOne">Message</p>
                        <pre style="word-wrap: break-word;">{{{broadcast.content}}}</pre>
                        <br />
                        <p class="headerOne">Broadcaster</p>
                        <p class="headerTwo">{{broadcast.fullname}}</p>
                        <br />
                        <p class="headerOne">Date / Time</p>
                        <p class="headerTwo">{{formatDate broadcast.createDateTime}}</p>
                        <br />
                        <p class="headerOne">Suburb</p>
                        <p class="headerTwo"><a target="_blank" href="http://maps.google.com/?q={{upper broadcast.suburb}}">{{upper broadcast.suburb}}</a></p>
                        <br />
                        <p class="headerOne">Location</p>
                        <p class="headerTwo">{{broadcast.geoData.formatted_address}}</p>
                        <br />
                    </div>
                </div>
            </div>

                        <div class="card">
                <div class="card-content">
                    <span class="card-title">Messages</span>
                    <div class="row">
                        {{#unless messages.count}} No messages {{/unless}} {{#each messages.data}}
                        <div class="bubble me"><strong class="savenGrey" style="font-weight: 900; !important">{{fullname}}</strong>
                            <br />{{message}}</div>
                        <br /> {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l6">
                        <div class="card">
                <div class="card-content">
                    <span class="card-title">Logs</span>
                                <div style="max-height:350px;overflow-y: scroll;overflow: -moz-scrollbars-vertical;">

                          <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Viewed</th>
              <th>Push</th>
          </tr>
        </thead>

        <tbody>
            {{#each broadcast.sentTo}}
          <tr>
            <td><a href="/userprofile/{{user_id}}">{{fullname}}</a></td>
            <td>{{{beenViewed viewed}}}</td>
            <td>{{review status}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
            </div>
                        <br /> 
                    </div>
                </div>

            <div class="card">
                <div class="card-content">
                    <span class="card-title">Analytics</span>
                    <div class="row">
                        <div class="stats-info">
                            <ul>
                                <li>Frowns
                                    <div class="percent-info right">{{#if broadcast.confirmed}}{{broadcast.confirmed}}{{else}}0{{/if}} <i class="fa fa-frown-o" aria-hidden="true" style="margin-left:10px"></i></div>
                                </li>
                                <li>Viewed
                                    <div class="percent-info right">{{#if broadcast.viewed}}{{broadcast.viewed}}{{else}}0{{/if}} <i class="fa fa-eye" aria-hidden="true" style="margin-left:10px"></i></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col s12 m12 l6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Images</span>
                    <div class="row">
                        {{#unless imageCount}} No Images {{/unless}} {{#if broadcast.images.image1}}
                        <div class="attachment z-depth-1"><img class="pictureIcon materialboxed" src="{{broadcast.images.image1}}">
                        </div>{{/if}} {{#if broadcast.images.image2}}
                        <div style="attachment z-depth-1"><img class="pictureIcon materialboxed" src="{{broadcast.images.image2}}"></div>{{/if}} {{#if broadcast.images.image3}}
                        <div style="attachment z-depth-1"><img class="pictureIcon materialboxed" src="{{broadcast.images.image3}}"></div>{{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l6">

        </div>
    </div>
</template>