<template name="broadcastsuburbs">
  <div class="comparison-table-options">
                                      <span class="page-title">Broadcasts by Suburb</span>
                                          <div class="actions" style="float:right;">
                                         
                                          </div>
                                  </div>
    <div class="row">
  <div class="col s12">
                      </div>
        <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l12">
                <div class="card visitors-card">
                    <div class="card-content">
                            <div class="col s12">
                          <input type="date" class="datepicker form-control" id="fromFilter" placeholder="From Date"> 
                          <input type="date" class="datepicker form-control" id="toFilter" placeholder="To Date">
           </div>
        {{#unless barchartDataReady}}

        {{>loader}}
        {{/unless}}
   <div class="broadcastsuburbs"></div>

                    </div>
                </div>
            </div>

        </div>
      </div>
</template>
