<template name="dashboard">
  <br />
        <div>
          <div class="row no-m-t no-m-b">
            <div class="col s12 m12 l4">
            <div class="card stats-card">
                <div class="card-content">
                    <span class="card-title center">Today</span>
                    <span class="stats-counter center"><span class="counter">{{dashboardCount.daily}}</span></span>
                </div>
            </div>
        </div>
          <div class="col s12 m12 l4">
          <div class="card stats-card">
              <div class="card-content">
                  <span class="card-title center">This Week</span>
                  <span class="stats-counter center"><span class="counter">{{dashboardCount.weekly}}</span></span>
              </div>
          </div>
      </div>
          <div class="col s12 m12 l4">
          <div class="card stats-card">
              <div class="card-content">
                  <span class="card-title center">This Month</span>
                  <span class="stats-counter center"><span class="counter">{{dashboardCount.monthly}}</span></span>
              </div>
          </div>
      </div>

      </div>
                <div class="row">
              <div class="col s12 m12 l12">
                  <div class="card visitors-card">
                      <div class="card-content">
{{#unless broadcastBySuburbReady}}

{{>loader}}
{{/unless}}
                                <div class="map-container">
                                  {{> googleMap name="map" options=mapOptions}}
                              </div>

{{> broadcastModal}}


    <div id="broadcastModalList" class="modal" style="width:80%">
        <div class="modal-content">

<table class="responsive-table">
                                    <thead>
                                        <tr>
                                            <th data-field="id">Type</th>
                                            <th data-field="name">Message</th>
                                            <th data-field="price">Date Time</th>
                                            <th data-field="price"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      {{#each getBroadcastForModal}}
                                        <tr>
                                            <td>{{reportType}}</td>
                                            <td>{{truncate content}}</td>
                                            <td>{{formatDate createDateTime}}</td>
                                            <td><a href="/viewbroadcast/{{_id}}" class="waves-effect btn-flat savenBlue" target="_blank" >View Broadcast</a>
</td>
                                        </tr>
                                         {{/each}}
                                    </tbody>
                                </table>

        </div>
        <div class="modal-footer">
        </div>
    </div>



                      </div>
                  </div>
              </div>
          </div>
          <div class="row no-m-t no-m-b">
              <div class="col s12 m12 l12">
                  <div class="card visitors-card">
                      <div class="card-content">
                        <span class="card-title ">Activity Feed</span>

                          <div class="card-options">
                              <ul>
                                  <li><a href="#" class="card-refresh"><i class="material-icons">refresh</i></a></li>
                              </ul>
                          </div>
                          {{> reactiveTable collection=broadcasts settings=settings}}


                      </div>

                  </div>
              </div>
          </div>
      </div>


</template>
